.vvgnli__main__content{
    width: 95vw;
    height: 80vh;
    margin: auto;
    /* border: 5px solid black; */
    background-color: white;
    box-shadow: 2px 2px 3px black;

}

.vvgnli__main__content__container{
    display: flex;
    justify-content: space-between;
}