
.dashboard__home__container {
    height: 80vh;
    /* border: 2px solid red; */
}

.dashboard__home__container__admin{
    overflow: scroll;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.dashboard__home--heading h1{
    /* border: 2px solid red; */
    height: fit-content;
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}


.dashboard__home__card__container{
    /* border: 5px solid green; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__home__card__list{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.dashboard__card
{
    /* border: 2px solid red; */
    margin: 3rem;
    width: 180px;
    height: 25vh;
    border-radius: 5px;

}

.dashboard__card .card{
    font-size: 1rem !important;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1;
    height: 100%;
    width: 100%;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    /* background: #1890ff; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
}


.dashboard__card__inner__div
{
    /* border: 2px solid blue; */
    height: 100%;
    width: 100%;

    
}

.dashboard__card__inner__div h3{
    /* border: 2px solid #1890ff; */
    font-size: 1.2rem ;

}

.dashboard__card__inner__div div{


  background:#1890ff;
  opacity: .5;
  transform: rotateX(0deg) translatez(110px);
  transition:transform 2s;
}

.card:hover .dashboard__card__inner__div div {
    transform: rotateX(360deg) translatez(110px);
  }

.wrapper {
    position: relative;
    perspective: 70em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc( 7 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
    /* border-radius: 50%; */
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
    margin-left: calc( -1 * var(--bw));
    margin-top: calc(-1 * var(--bw));
    /* border-radius: 0; */
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  