*{
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .MuiSvgIcon-root{
  color: #1976d2 !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  list-style-type: none;

  font-family: 'Poppins', sans-serif;
  scrollbar-width: none; 
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;
}


* ul{

  list-style: none;

}

* a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}



/* app.jsx css stats */
.app{
  width: 100%;
  box-shadow: 0px -4px 3px;
  height: 100vh;
  /* border: 2px solid red; */
}

.app__container{
  width: 100%;
  height: 100vh;
  background-color: #1976d2;
}
/* app.jsx css ends */


.MuiIconButton-label{
  border: 2px solid red !important;
}
