.post__card{
    width: 250px;
    /* border: 2px solid red; */
    
}

.post__card__container{
    width: 100%;
    /* border: 2px solid green; */
    box-shadow: 2px 2px 3px grey;
    
}
.post__card__container:hover{
    cursor: pointer;

}

.post__card:hover .post__card__container{
    /* transform: scale(1.1); */
    transition: all 1s;
    transform: rotatey(360deg) translatez(410px);
}
